@font-face {
    font-family: "SFCompactTextRegular";
    src: url("/public/styles/fonts/SFCompactText-Regular.otf");
}

body {
    font-family: "SFCompactTextRegular";
    max-width: none;
}

.header-container {
    background: #121517;
    color: #fff;
}

.header-container hr {
    margin: 0;
    border: 1px solid #999;
}
.header-container a:hover {
    text-decoration: none;
}

.header-container .nav-bar {
    text-align: center;
    padding: 15px 20px;
    cursor: default;
    position: static;
    width: auto;
    height: auto;
    z-index: 2;
    font-size: inherit;
}
.header-container .nav-bar img {
    max-width: none;
    margin: 0;
}
.header-container .nav-bar a {
    width: 140px;
    padding: 5px 20px;
    color: #66d7d7;
}
.header-container .nav-bar a:hover {
    color: #fff;
}
.header-container .nav-bar a.active {
    text-decoration: underline;
}

.header-container .nav-bar .launch-btn {
    width: 100px;
    border: 1px solid #66d7d7;
    border-radius: 3px;
}
.header-container .nav-bar .launch-btn:hover {
    background-color: #66d7d7;
    color: #fff;
}

.header-container .hamburger-menu {
    position: relative;
    padding: 10px 0;
}

.header-container .hamburger-menu .menu-items {
    position: absolute;
    display: none;
    top: 30px;
    right: 0;
    background: #4cacac;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 999;
}

.header-container .hamburger-menu a {
    display: block;
    color: #fff;
}

.header-container .hamburger-menu:hover .menu-items {
    display: block;
}

.products-container {
    position: relative;
}

.products-container .menu {
    position: absolute;
    top: 50px;
    background: #4c4c4c;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px rgba(35, 40, 44, 0.13);
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    margin-top: -15px;
    width: 260px;
}

.products-container .menu::after {
    content: "";
    border: solid 10px transparent;
    border-bottom-color: #4c4c4c;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%) scaleX(1.5);
}

.products-container a {
    display: flex;
    padding: 10px 20px !important;
    cursor: pointer;
    width: 100% !important;
}

.products-container a:hover {
    background: #656565;
}

.products-container .icon {
    width: 35px;
    text-align: center;
    margin-right: 10px;
}